.main{
    background-color: black;
    color: #FFF;
    height: 74.0686vh;
    width: 84.375vw;
    margin-top: -1px;
    padding: 4.27vh 7.8125vw;
}
.image{
    width: 84.375vw;
    height: 68.3478vh;
    background-image: url('/src/Images/1280px-World_map_with_points 1.png');
    background-size: 100% 100%;
}
.head{
    width: 100%;
    text-align: center;
    padding-top: 19.6521vh;
}
.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: auto; */
    margin-top: 6.7826vh;
}
.iconContain{
    display: flex;
}

.iconContainImg {
    margin-right: 2.5906vw;
    height: 2.6086vh;
}

.section2{
    color: black;
    height: 86.2426vh;
    width: 84.375vw;
    margin-top: -1px;
    padding: 4.27vh 7.8125vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.section3{
    color: white;
    height: 76vh;
    width: 100vw;
    background-color: black;
    display: flex;
}
.section3sub{
    color: white;
    height: 27.82vh;
    width: 42.1875vw;
    background-color: black;
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 7.8125vw;
}
.smallImages{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 1.7391vh;
}
.iconContainImgSmall{
    height: 8.6956vh;
    width: 5.2083vw;
    border-radius: 0.8695vh;
    margin-right: 1.0416vw;
}
.section4{
    background-color: #FFF;
    padding-right: 7.8125vw;
    padding-left: 7.8125vw;
    padding-top: 13.0434vh;
    padding-bottom: 0vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 55.65vh;
}
.section5{
    color: black;
    width: 84.375vw;
    margin-top: -1px;
    padding: 0vh 7.8125vw;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 13.0434vh;
}
.darkBgPic{
    background-color: black;
    width: 84.375vw;
    height: 62.6086vh;
    margin-top: 8.6956vh;
}
.darkBgPicLeft{
    width: 36.8229vw;
    height: 100%;
    background:  linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%), url('/src/Images/thisisengineering-raeng-69wEv-G2W_s-unsplash 1.png') ;
    background-size: 100% 100%, 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.languages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.section6{
    padding-top: 8.6956vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: black;
    width: 100vw;
    height: 83.9129vh;
    margin-top: 8.6956vh;
}
.section7{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 84.375vw;
    height: 46.6521vh;
    padding-top: 13.0434vh;
    padding-bottom: 13.0434vh;
    padding-left: 7.8125vw;
    padding-right: 7.8125vw;
}
.section7sub{
    width: 50%;
    display: flex;
    text-align: right;
}
.section8{
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.section9{
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 13.0434vh;
    padding-top: 2.1739vh;
    padding-bottom: 2.1739vh;
    padding-right: 1.3020vw;
    padding-left: 1.3020vw;
}
.section9sub{
    background-size: 100% 100%;
    width: 84.37vw;
    height: 36.1739vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
@keyframes marginAnimation {
    0% {
        margin-top: -10vh;
    }
    50% {
        margin-top: -47.82vh;
    }
    100%{
        margin-top: -10vh;
    }
}
.animate{
    animation-name:  marginAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: row; 
    overflow: hidden;
}