.container{
    color: black;
    text-align: left;
    border-radius: 0.8695vh;
    font-family: 'Montserrat';
    background-color: white;
    margin-top: 2.1739vh;
    cursor: pointer;
}

.question{
    width: calc(100%-3.9062vw);
    background-color: #F4F4F4;
    font-weight: 700;
    font-size: 2.1739vh;
    line-height: 2.1739vh;
    padding: 2.1739vh;
    padding-left: 2.6041vw;
    padding-right: 2.6041vw;
    color: #0072FF;
    border-radius: 0.8695vh;
}
.answer{
    background-color: #FAFAFA;
    width: calc(100%-3.9062vw);
    font-weight: 500;
    font-size: 1.7391vh;
    line-height: 2.1739vh;
    padding: 2.1739vh;
    padding-left: 2.6041vw;
    padding-right: 2.6041vw;
    color: black;
}

.container2{
    color: black;
    text-align: left;
    font-family: 'Montserrat';
    background-color: transparent;
    cursor: pointer;
    border-top: 1px #101010 solid;
    border-bottom: 0.5px #101010 solid;
}
.question2{
    background-color: transparent;
    font-weight: 700;
    font-size: 2.1739vh;
    line-height: 2.1739vh;
    padding: 2.1739vh;
    color: white;
}
.answer2{
    background-color: transparent;
    font-weight: 500;
    font-size: 1.7391vh;
    line-height: 2.1739vh;
    padding: 2.1739vh;
    padding-left: 2.6041vw;
    padding-right: 2.6041vw;
    color: white;
}
