.container{
    width: 27.2395vw;
    color: black;
    text-align: left;
    background-color: #F8F8F8;
    border-radius: 0.8695vh;
    margin-left: 1.0416vw;
    font-family: 'Montserrat';
}
.containImg{
    width: 100%;
    height: 26.6086vh;
}
.containData{
    padding: 10%;
}    