.container{
    background-color: black;
    padding: 0vh 7.8125vw;
    display: flex;
    width: 84.375vw;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    align-self: flex-start;
    align-items: center;
    top: 0;
    height: 10.8695vh;
}
.topics{
    display: flex;
    justify-content: flex-end;
}
.topics *>*:hover{
    border-bottom: 2px solid #fff;
}
.topics *>*{
    border-bottom: 2px solid #000;
}
.login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
