.mainContainer{
    display: flex;
    flex-direction: row;
}
.container{
    padding-left: 7.8125vw;
    padding-top: 8.6956vh;
    padding-bottom: 8.6956vh;
    width: 55.72vw;
}
.leftContainer{
    width: 20.833vw;
    height: 76.0868vh;
    padding-left: 7.8125vw;
    padding-right: 7.8125vw;
    padding-top: 8.6956vh;
    padding-bottom: 8.6956vh;
}
.formHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8.6956vh;
}
.button{
    background-color: rgba(0, 114, 255, 0.1);
    padding-left: 0.9895vw;
    padding-right: 0.9895vw;
    padding-top: 0.9565vh;
    padding-bottom: 0.9565vh;
    border-radius: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.7391vh;
    line-height: 2.1739vh;
    text-align: center;
}
.inputContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 4.3478vh;
    margin-bottom: 4.3478vh;
}
.details{
    display: flex;
    flex-direction: row;
    margin-bottom: 2.1739vh;
}
.eachDetail{
    width: 27.1875vw;
    margin-right: 1.3020vw;
}
.endButton{
    display: flex;
    flex-direction: row;
}
.radioContainer{
    display: flex;
    flex-direction: row;
}
.form3{
    display: flex;
    flex-direction: row;
    margin-bottom: 4.3478vh;
}
.calendly{
    width: 41.1979vw;
    height: 43.4782vh;
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.data{
    width: 41.1979vw;
    height: 43.4782vh;
    border-radius: 10px;
    margin-left: 2.6041vw;
}
.uploadResume{
    width: 55.729vw;
    height: 17.39vh;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}
.uploadImg{
    width: 4.3478vh;
    height: 4.3478vh;
}
.uploadFile{
    width: 55.729vw;
    height: 17.39vh;
    margin-top: 4.3478vh;
    margin-bottom: 4.3478vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.uploadFileImg{
    width: 4.3478vh;
    height: 4.3478vh;
    background-color: white;
    padding: 6.5217vh;
    border-radius: 1000px;
    margin-right: 25px;
}
.addEducation{
    width: 55.729vw;
    height: 8.6956vh;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}
.addEducationImg{
    width: 4.3478vh;
    height: 4.3478vh;
    background-color: white;
    border-radius: 1000px;
    margin-right: 25px;
}
